<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pierres Vendors</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
  </head>
  <body>
<h1>Add an Vendor</h1>
<p>Add a Vendor here:</p>
<form action="/Vendors" method="post">
  <label for="VendorName">Vendor name</label>
  <input id="VendorName" name="VendorName" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/Vendors">Back to the Collection.</a></p>
  </body>
</html>