@using PierresVendors.Models;
@{
  Layout = "_Layout";
}

<h2>Here are all the Orders this Vendor has.</h2>

<div class="row">
  <div class="form-group col-md-4">    
    <p> </p>
  </div>
  <div class="form-group col-md-8">    
    <ul>
      @foreach (Order order in @Model["orders"])
      {
        <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Name</a></li>
      }
    </ul>
  </div>
</div>



<h4>Orders Total: $@Model["vendor"].Total</h4>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new Order</a></p>
<form action="/items/delete" method="post" id="show-form">
  <button>Clear All Orders</button>
</form>