<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pierres Vendors</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
  </head>
  <body>
<h1>Enter Order to Add to the @Model.Name</h1>
<form action="/vendors/@Model.Id/orders" method="post">
  <div class="form-group">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <label for="orderName">Order Name</label>
    <input id="orderName" name="orderName" type="text" required>
  </div>
  <button type="submit">Add</button>
</form>

<div class="footer">
  <a href="/">Return to Home</a>
  <a href="/vendors/@Model.Id/orders">View Orders</a>
</div>
  </body>
</html>